[http]
	postBuffer = 524288000
[user]
	email = mahmudgalib2009@gmail.com
	name = Mahmud Galib
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
