//@theme "~/.config/rofi/themes/KooL_style-8.rasi"
//@theme "~/.config/rofi/themes/KooL_style-9.rasi"
//@theme "~/.config/rofi/themes/KooL_style-10-Fancy.rasi"
//@theme "~/.config/rofi/themes/KooL_style-10-Fancy-v2.rasi"
//@theme "~/.config/rofi/themes/KooL_style-11-Win11-list-dark.rasi"
//@theme "~/.config/rofi/themes/KooL_style-12-TOP-Docu.rasi"
//@theme "~/.config/rofi/themes/KooL_style-13-Vertical.rasi"
//@theme "~/.config/rofi/themes/KooL_style-14.rasi"
//@theme "~/.config/rofi/themes/KooL_style-7.rasi"
@theme "~/.config/rofi/themes/KooL_style-6.rasi"
