 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #BDAE5F;
active-foreground: #FDF8F9;
normal-background: #1A1B1C;
normal-foreground: #FDF8F9;
urgent-background: #B5E8F6;
urgent-foreground: #FDF8F9;

alternate-active-background: #DB8DB0;
alternate-active-foreground: #FDF8F9;
alternate-normal-background: #1A1B1C;
alternate-normal-foreground: #FDF8F9;
alternate-urgent-background: #1A1B1C;
alternate-urgent-foreground: #FDF8F9;

selected-active-background: #B5E8F6;
selected-active-foreground: #FDF8F9;
selected-normal-background: #B5E8F6;
selected-normal-foreground: #FDF8F9;
selected-urgent-background: #BDAE5F;
selected-urgent-foreground: #FDF8F9;

background-color: #1A1B1C;
background: rgba(0,0,0,0.7);
foreground: #FDF8F9;
border-color: #BDAE5F;

color0: #414242;
color1: #101516;
color2: #4D4F5C;
color3: #A46A84;
color4: #8E8247;
color5: #88AEB8;
color6: #BAB0B3;
color7: #F3ECEF;
color8: #AAA5A7;
color9: #161C1E;
color10: #66697A;
color11: #DB8DB0;
color12: #BDAE5F;
color13: #B5E8F6;
color14: #F8EAEF;
color15: #F3ECEF;


}

