 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #A6747C;
active-foreground: #C1D6F2;
normal-background: #151519;
normal-foreground: #C1D6F2;
urgent-background: #B07A82;
urgent-foreground: #C1D6F2;

alternate-active-background: #1F4F97;
alternate-active-foreground: #C1D6F2;
alternate-normal-background: #151519;
alternate-normal-foreground: #C1D6F2;
alternate-urgent-background: #151519;
alternate-urgent-foreground: #C1D6F2;

selected-active-background: #B07A82;
selected-active-foreground: #C1D6F2;
selected-normal-background: #B07A82;
selected-normal-foreground: #C1D6F2;
selected-urgent-background: #A6747C;
selected-urgent-foreground: #C1D6F2;

background-color: #151519;
background: rgba(0,0,0,0.7);
foreground: #C1D6F2;
border-color: #A6747C;

color0: #3C3C41;
color1: #121424;
color2: #473540;
color3: #173B71;
color4: #7C575D;
color5: #845C62;
color6: #3A68A3;
color7: #9DBCE3;
color8: #6E849F;
color9: #181A2F;
color10: #5F4756;
color11: #1F4F97;
color12: #A6747C;
color13: #B07A82;
color14: #4D8BD9;
color15: #9DBCE3;


}

